.pio
.DS_Store
build
components/*
!components/camera_ctl
!components/sd_card
!components/mqtt_client
!components/wifi_station
managed_components
private_data.h
main/app_configuration.h
sdkconfig.esp32dev.old
sdkconfig.old
sdkconfig
